/* purgecss start ignore */

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/* purgecss end ignore */

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the responsive
 * variations of each utility.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind screens;

@layer base {
  body {
    @apply antialiased bg-gray-200 text-gray-900 font-sans overflow-hidden;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply block mt-1 w-full md:max-w-sm text-gray-800 bg-gray-100 focus:bg-white rounded-md border-transparent focus:border-blue-500 focus:ring-0;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-blue-500 text-blue-500 focus:ring-1 focus:ring-offset-2 focus:ring-blue-500;
  }

  input[disabled],
  select[disabled] {
    @apply bg-white opacity-100;

    background-image: none;
  }
}

/* @layer utilities {} */
@layer components {
  .spv-link {
    @apply w-full underline hover:text-blue-500;
  }

  .spv-link-accent {
    @apply w-full no-underline hover:underline hover:text-blue-500;
  }

  .btn-icon-primary {
    @apply mx-1 py-1 px-1 text-gray-600 hover:text-blue-500 bg-white disabled:opacity-50;
  }

  .btn-icon-accent {
    @apply mx-1 py-1 px-1 text-white bg-gray-800 hover:bg-blue-500 disabled:opacity-50;
  }

  .btn-primary {
    @apply py-1 px-4 text-gray-700 hover:text-blue-500 bg-white rounded-md shadow active:hover:shadow-md text-sm font-medium disabled:opacity-50;
  }

  .btn-accent {
    @apply py-1 px-4 text-white bg-gray-800 hover:bg-blue-500 rounded-md shadow active:hover:shadow-md text-sm font-medium disabled:opacity-50;
  }

  .badge {
    @apply py-1 px-2 text-xs font-medium leading-tight text-white rounded-full;
  }

  .page {
    @apply w-full;
  }

  .page-actions {
    @apply gap-24 sm:gap-4 justify-end items-center p-4 -mt-4 flex;
  }

  .page-actions > button {
    @apply flex-1 sm:flex-none md:min-w-[8rem];
  }

  .divider-v {
    @apply py-1;
  }

  .card {
    @apply flex flex-col my-4 mx-4 bg-white rounded;
  }

  .row {
    @apply w-full flex flex-col md:flex-row flex-wrap;
  }

  .col {
    @apply flex-1 p-4;
  }
}
